.feed{
    margin-left: 20px;
    margin-top: 20px;
}
.feed_inputcontainer{
background-color: white;
padding: 10px;
padding-bottom: 20px;
border-radius: 10px;
margin-bottom: 20px;
width: 500px;
}
.feed__input{
border: 1px solid lightgray;
display: flex;
padding: 10px;
color: gray;
border-radius: 30px;
padding-left: 15px;
}
.feed__input>form{
    display: flex;
    width: 100%;
}
.feed__input>form >input{
border: none;
flex: 1;
margin-left: 10px;
outline: none;
font-weight: 600;
}
.feed__input>form>button{
    display: none;
}
.feed_inputOptions{
display: flex;
justify-content: space-between;
}
