.sidebar{
    position: sticky;
    top: 80px;
    flex: 0.2;
    border-radius: 10px;
   text-align: left;
    height: fit-content;
    width: fit-content;

}
.sidebar_avatar{
    margin-bottom: 20px;
}
.sidebar__top{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}
.sidebar__top>h4{
 color: gray;
 font-size: 12px;
}
.sidebar__top>h2{

 font-size: 18px;
}
.sidebar__top>img{
    margin-bottom: -10px;
    height: 60px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}
.sidebar_stat{
   margin-top: 10px;
   display: flex;
  justify-content: space-between;
   
}

.sidebar_stat >p{
    color: gray;
    font-size: 13px;
    font-weight: 600;
}
.sidebar_stackNumber{
    font-weight: bold;
    color: #0a66c2 !important;
}
.sidebar_stats{
padding: 10px;
margin-bottom: 10px;
border: 1px solid lightgrey;
background-color: white;
border-bottom-right-radius: 10px;
border-bottom-left-radius:  10px; ;



}
.sidebar_bottom{
    text-align: left;
    background-color: white;
    padding: 10px;
    border: 1px soid lightgray;
    border-radius: 10px;
    margin-bottom: 10px;
}
.sidebar_recentItem{
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    padding: 5px;
}
.sidebar_recentItem:hover{
   background-color: whitesmoke;
   color: black;
   cursor: pointer;
   border-radius: 10px;
}
.sidebar_hash{
    margin-right: 10px;
    margin-left: 5px;
}
.sidebar_bottom>p{
font-size: 13px;
padding-bottom: 10px;
}
